//==============================================
// Utilites/Colors
//==============================================

// ===================================================================
// Theme colors
// ===================================================================
$color-primary: #000000;
$color-secondary: #285078;

$white: #ffffff;
$black: #000000;
$gray: #444444;

// ===================================================================
// Main elements colors
// ===================================================================
$color-text-main: $black;
$color-heading: $color-secondary;

// ===================================================================
// Highlight
// ===================================================================
$highlight: $color-secondary;

// ===================================================================
// Brand colors
// ===================================================================
$brand_colors: (
	'white': $white,
	'black': $black,
	'red': #D21502,
	'brown': #30151A,
	'dark': #142230,
	'orange': #f59a2b,
	'blue': #285078
);
